.content{
    background-color: black;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 75px;
    margin: 35px;
    display: flex;
}
.content h1{
    color: blue;
}
.matter{
    position: relative;
    width: 80vw;
}
.image{
    position: relative;
    /* padding: 120px; */
    margin-left: 20px;
}
.pic{
    height: 200px;
    width: 200px;
    
}
.contact{
    height: 200px;
    width: 600px;
    background-color: blueviolet;
    position: relative;
    top: 100px;
    left: 400px;
    padding: 20px;
    text-align: center;
}
.about{
    height: 200px;
    width: 600px;
    background-color: darkblue;
    position: relative;
    top: 100px;
    left: 400px;
    padding: 20px;
    text-align: center;
}
